<ion-view title="01" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="1-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#010C36;font-size:18px;">
        <strong>1 - Quantos grupos tem a tabela periódica?</strong>
      </p>
    </div>
    <div id="1-container2">
      <form id="1-form13" class="list">
        <ion-radio id="1-radio32">A - 17</ion-radio>
        <ion-radio id="1-radio33">B - 13</ion-radio>
        <ion-radio id="1-radio34">C - 18</ion-radio>
        <ion-radio id="1-radio35">D - 20</ion-radio>
        <ion-radio id="1-radio36">E - 15</ion-radio>
        <a ui-sref="1Resultado()" id="1-button32" class="button button-positive button-block">CONFIRMAR</a>
      </form>
    </div>
  </ion-content>
</ion-view>