<ion-view title="01 - Resultado" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="1Resultado-container8">
      <button id="1Resultado-button20" style="font-weight:600;font-size:40px;" class="button button-balanced button-large button-block icon-right ion-android-checkbox-outline">Acertou!</button>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div>
      <style>
        .yellow {
            color: #fcc623;
        }
        
         .roxo {
            color: #8923fc;
        }
         .verde {
            color: #34b402;
        }
      </style>
      <p>
        <b>
          <font class="yellow">Dificuldade</font> |
          <font class="roxo">Tempo</font> |
          <font class="verde">Avaliação</font>
        </b>

      </p>
    </div>
    <div id="1Resultado-button-bar11" class="button-bar">
      <button id="1Resultado-button11" style="font-weight:600;font-size:15px;" class="button button-energized button-block button-outline">4</button>
      <button id="1Resultado-button12" style="font-weight:600;font-size:15px;" class="button button-royal button-block button-outline">30s</button>
      <button id="1Resultado-button18" style="font-weight:600;font-size:35px;" class="button button-balanced">1</button>
    </div>
    <div class="spacer" style="width: 300px; height: 236px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="2()" id="1Resultado-button19" style="left:-10px;" class="button button-positive button-large button-full icon-right ion-android-arrow-dropright-circle">Próximo</a>
    </div>
  </ion-content>
</ion-view>