<ion-view title="01 - Resultado - x" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="1ResultadoX-container4">
      <div>
        <img src="img/7LBe0HgTTQaHUBR1YlRa_cards_2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="1ResultadoX-button-bar3" class="button-bar">
      <button id="1ResultadoX-button44" style="font-weight:600;font-size:30px;" class="button button-energized button-block">4</button>
      <button id="1ResultadoX-button45" style="font-weight:600;font-size:28px;" class="button button-royal button-block">30s</button>
      <button id="1ResultadoX-button46" style="font-weight:600;font-size:35px;" class="button button-balanced">1</button>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="2()" id="1ResultadoX-button47" style="left:-10px;" class="button button-positive button-full icon-right ion-android-arrow-dropright-circle">Próximo</a>
    </div>
  </ion-content>
</ion-view>