<ion-view title="02" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="2-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#010C36;font-size:18px;">
        <strong>2 - Qual destes elementos é um alcalino-terroso?</strong>
      </p>
    </div>
    <div id="2-container5">
      <form id="2-form16" class="list">
        <ion-radio id="2-radio47">A - Sódio</ion-radio>
        <ion-radio id="2-radio48">B - Potássio</ion-radio>
        <ion-radio id="2-radio49">C - Cálcio</ion-radio>
        <ion-radio id="2-radio50">D - Rubidio</ion-radio>
        <ion-radio id="2-radio51">E - Césio</ion-radio>
        <a ui-sref="2Resultado()" id="2-button48" class="button button-positive button-block">CONFIRMAR</a>
      </form>
    </div>
  </ion-content>
</ion-view>