<ion-view title="02 - Resultado - x" id="page16">
  <ion-content padding="true" class="has-header">
    <div id="2ResultadoX-container7">
      <div id="2ResultadoX-markdown19" class="show-list-numbers-and-dots">
        <p style="color:#010C36;font-size:18px;">
          <strong>2 - Qual destes elementos é um alcalino-terroso?</strong>
        </p>
      </div>
      <div>
        <img src="img/ldKSkGreSBWQxTJAEROi_cards-3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="2ResultadoX-button-bar5" class="button-bar">
      <button id="2ResultadoX-button53" style="font-weight:600;font-size:30px;" class="button button-energized button-block">7</button>
      <button id="2ResultadoX-button54" style="font-weight:600;font-size:28px;" class="button button-royal button-block">15s</button>
      <button id="2ResultadoX-button55" style="font-weight:600;font-size:35px;" class="button button-balanced">0.2</button>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="pontuaO()" id="2ResultadoX-button56" style="left:-10px;" class="button button-positive button-full icon-right ion-android-arrow-dropright-circle">Próximo</a>
    </div>
  </ion-content>
</ion-view>