<ion-view title="Login" id="page2">
  <ion-content padding="true" style="background: url(img/HIK0LmFZTHiC4R2xfhMC_bg_sm.png) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/bD8HGpfEQf2w0yV2q2Lp_NOMEo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/EHeFmuIAQdaJCj0nnHea_caderno.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email:</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Senha:</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="prXimasTarefas()" id="login-button4" class="button button-stable button-block">ENTRAR</a>
      <a href-inappbrowser="/signup" id="login-button5" class="button button-light button-block button-clear">Criar uma nova conta</a>
    </form>
    <div>
      <img src="img/m86h6nMuR7ydIPHm0WM6_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>