<ion-view title="Menu" id="page20">
  <ion-content padding="true" class="has-header">
    <div style="margin-right:-20px;">
      <button id="menu-button68" style="left:-10px;" class="button button-royal button-large button-full icon-right ion-ios-paper-outline">Histórico</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="menu-button69" style="left:-10px;" class="button button-royal button-large button-full icon-right ion-calendar">Agenda</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="menu-button71" style="left:-10px;" class="button button-royal button-large button-full icon-right ion-arrow-graph-up-right">Gráfico de Desempenho</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="menu-button70" style="left:-10px;" class="button button-royal button-large button-full icon-right ion-podium">Ranking</button>
    </div>
    <div class="spacer" style="width: 300px; height: 139px;"></div>
    <div id="menu-button-bar10" class="button-bar">
      <a ui-sref="ranking()" id="menu-button21" class="button button-stable button-block icon ion-podium"></a>
      <div style="margin-right:-20px;">
        <button id="menu-button22" style="left:-10px;" class="button button-stable button-full icon ion-android-apps"></button>
      </div>
      <a ui-sref="quizes()" id="menu-button23" class="button button-stable button-block icon ion-ios-game-controller-b"></a>
    </div>
  </ion-content>
</ion-view>