<ion-view title="Pontuação" id="page22">
  <ion-content padding="true" style="background: url(img/gmSeZ07MRWux3ss7hRCy_bg_sm.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="pontuaO-card28">
      <ion-item id="pontuaO-list-item9">Pontuação:</ion-item>
      <button id="pontuaO-button76" class="button button-energized button-large button-block">1.2 pontos</button>
      <div>
        <style>
          p {
              padding: 1px 1px 1px 15px;
              margin: 8px;
          }
          
       
          
          font {
              color: blue;
              text-align: left;  
               font-weight: bold;
      
          }
          
          .orange {
              color: #E76F51;
              
          }
        </style>
        <p>
          <b>Média geral:</b>
          <font class="orange"> 1.6 pontos</font>
        </p>
        <p>
          <b>Seu saldo:</b>
          <font class="orange"> 380 pontos</font>
        </p>
      </div>
      <a ui-sref="tarefas()" id="pontuaO-button17" class="button button-positive button-small button-block icon ion-ios-undo">VOLTAR</a>
    </div>
  </ion-content>
</ion-view>