<ion-view title="Próximas Tarefas" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="prXimasTarefas-card24">
      <ion-item class="item-icon-right" id="prXimasTarefas-list-item21">Fique ligado!
        <span class="item-note">Tarefa programada</span>
        <i class="icon ion-alert"></i>
      </ion-item>
      <div class=" item item-image">
        <img src="img/aFFQFxOKREywIiTafTgn_quimica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div>
        <style>
          p {
              padding: 1px 1px 1px 15px;
              margin: 8px;
          }
          
       
          
          font {
              color: blue;
              text-align: left;  
               font-weight: bold;
      
          }
          
          .orange {
              color: #E76F51;
              
          }
        </style>
        <p>

        </p>
        <p>
          <b>Conteúdo:</b>
          <font> Tabela Periódica</font>
        </p>
        <p>
          <b>Componente:</b>
          <font>Química</font>
        </p>
        <p>
          <b>Nível:</b>
          <font class="orange">Fácil</font>
        </p>
        <p>
          <b>Tempo:</b>
          <font class="orange">10 min</font>
        </p>
      </div>
      <div id="prXimasTarefas-button-bar6" class="button-bar">
        <button id="prXimasTarefas-button62" style="font-weight:600;font-size:32px;" class="button button-energized button-block">16:00h</button>
        <a ui-sref="1()" id="prXimasTarefas-button63" style="font-weight:600;font-size:20px;" class="button button-balanced button-block button-clear icon-right ion-android-arrow-dropright">INICIAR</a>
      </div>
    </div>
    <div id="prXimasTarefas-button-bar7" class="button-bar">
      <a ui-sref="ranking()" id="prXimasTarefas-button65" class="button button-stable button-block icon ion-podium"></a>
      <div style="margin-right:-20px;">
        <a ui-sref="menu()" id="prXimasTarefas-button66" style="left:-10px;" class="button button-stable button-full icon ion-android-apps"></a>
      </div>
      <a ui-sref="quizes()" id="prXimasTarefas-button67" class="button button-stable button-block icon ion-ios-game-controller-b"></a>
    </div>
  </ion-content>
</ion-view>