<ion-view title="Quiz2" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="quiz2-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#010C36;">
        <strong>1 - Quantos grupos tem a tabela periódica?</strong>
      </p>
    </div>
    <form id="quiz2-form8" class="list">
      <ion-radio id="quiz2-radio17">A - 17</ion-radio>
      <ion-radio id="quiz2-radio18">B - 13</ion-radio>
      <ion-radio id="quiz2-radio19">C - 18</ion-radio>
      <ion-radio id="quiz2-radio20">D - 20</ion-radio>
      <ion-radio id="quiz2-radio21">E - 15</ion-radio>
    </form>
    <div id="quiz2-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#010C36;">
        <strong>2 - Quantos periodos constituem a tabela periódica?</strong>
      </p>
    </div>
    <form id="quiz2-form9" class="list">
      <ion-radio id="quiz2-radio22">A - 11</ion-radio>
      <ion-radio id="quiz2-radio23">B - 7</ion-radio>
      <ion-radio id="quiz2-radio24">C - 10</ion-radio>
      <ion-radio id="quiz2-radio25">D - 9</ion-radio>
      <ion-radio id="quiz2-radio26">E - 6</ion-radio>
    </form>
    <div id="quiz2-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#010C36;">
        <strong>2 - Qual destes elementos é um alcalino-terroso?</strong>
      </p>
    </div>
    <form id="quiz2-form10" class="list">
      <ion-radio id="quiz2-radio27">A - Sódio</ion-radio>
      <ion-radio id="quiz2-radio28">B - Potássio</ion-radio>
      <ion-radio id="quiz2-radio29">C - Cálcio</ion-radio>
      <ion-radio id="quiz2-radio30">D - Rubidio</ion-radio>
      <a ui-sref="resultado()" id="quiz2-button10" style="text-align:left;" class="button button-light button-block">Tap me!</a>
      <ion-radio id="quiz2-radio31">E - Césio</ion-radio>
      <a ui-sref="resultado()" id="quiz2-button9" class="button button-positive button-block">CONCLUIR</a>
    </form>
  </ion-content>
</ion-view>