<ion-view title="Quiz - História" id="page18">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="quizHistRia-card25">
      <ion-item class="item-icon-left item-icon-right balanced" id="quizHistRia-list-item23" ui-sref="1()">
        <i class="icon ion-ios-game-controller-b"></i>Iluminismo
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <div class=" item item-image">
        <img src="img/adPm0sXTq2thLDKPD3DQ_ilumin1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="quizHistRia-list-item-container7">
        <div id="quizHistRia-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Quiz sobre o iluminismo</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>