<ion-view title="Quiz - 1 - MODEL" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="quiz1MODEL-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#010C36;font-size:18px;">
        <strong>1 - Quantos grupos tem a tabela periódica?</strong>
      </p>
    </div>
    <button id="quiz1MODEL-button33" style="font-weight:600;text-align:left;" class="button button-stable button-large button-block">A - 17</button>
    <button id="quiz1MODEL-button34" style="font-weight:600;text-align:left;" class="button button-stable button-large button-block">B - 13</button>
    <button id="quiz1MODEL-button35" style="font-weight:600;text-align:left;" class="button button-stable button-large button-block">C - 18</button>
    <button id="quiz1MODEL-button36" style="font-weight:600;text-align:left;" class="button button-stable button-large button-block">D - 20</button>
    <button id="quiz1MODEL-button37" style="font-weight:600;text-align:left;" class="button button-stable button-large button-block">E - 15</button>
    <div id="quiz1MODEL-container3">
      <form id="quiz1MODEL-form14" class="list">
        <ion-radio id="quiz1MODEL-radio37">A - 17</ion-radio>
        <ion-radio id="quiz1MODEL-radio38">B - 13</ion-radio>
        <ion-radio id="quiz1MODEL-radio39">C - 18</ion-radio>
        <ion-radio id="quiz1MODEL-radio40">D - 20</ion-radio>
        <ion-radio id="quiz1MODEL-radio41">E - 15</ion-radio>
        <button id="quiz1MODEL-button38" class="button button-positive button-block">CONFIRMAR</button>
      </form>
    </div>
  </ion-content>
</ion-view>