<ion-view title="Quizes Realizados" id="page19">
  <ion-content padding="true" class="has-header">
    <p></p>
    <div class="list card" id="quizesRealizados-card26">
      <ion-item class="item-icon-right balanced" id="quizesRealizados-list-item24" ui-sref="quizQuMica()">Química
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="quizQuMica()">
          <img src="img/Onz860qoSXGhVBN5wxRn_quimica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>
    <div class="list card" id="quizesRealizados-card27">
      <ion-item class="item-icon-right royal" id="quizesRealizados-list-item25" ui-sref="quizHistRia()">História
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <div class=" item item-image">
        <img src="img/vy7I2BHDStmsl07MvR24_c5786a7b55c368f22cb34d49758b279f_XL.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>