<ion-view title="Ranking" id="page10">
  <ion-content padding="true" style="background: url(img/HIK0LmFZTHiC4R2xfhMC_bg_sm.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="ranking-container1">
      <ion-list id="ranking-list8">
        <ion-item class="item-avatar calm" id="ranking-list-item13">
          <img src="img/gzhOYRK4T2ijU2ClYH0I_people_1.png">
          <h2calm>Bruno Castro
            <p>390pt</p>
          </h2calm>
        </ion-item>
        <ion-item class="item-avatar balanced" id="ranking-list-item14">
          <img src="img/uxnfx8auQgicgPllhKUA_people_1.png">
          <h2balanced>Marcus Vinicius
            <p>380pt</p>
          </h2balanced>
        </ion-item>
        <ion-item class="item-avatar energized" id="ranking-list-item15">
          <img src="img/nh64WrQ0TUq2HAxb8upk_people_2.png">
          <h2energized>Karla Souza
            <p>370pt</p>
          </h2energized>
        </ion-item>
        <ion-item class="item-avatar royal" id="ranking-list-item16">
          <img src="img/67Q4NYZRPqKzDHKhcZMQ_people_2.png">
          <h2royal>Stéffany Próspero
            <p>360pt</p>
          </h2royal>
        </ion-item>
        <ion-item class="item-avatar royal" id="ranking-list-item17">
          <img src="img/2iwzFVjjSGTsu85tVuju_people_1.png">
          <h2royal>Thiago Lima
            <p>350pt</p>
          </h2royal>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>