<ion-view title="Tarefas" id="page9">
  <ion-content padding="true" class="has-header">
    <button id="tarefas-button16" class="button button-assertive button-block icon-left ion-alert-circled">Não há tarefas programadas</button>
    <div class="spacer" style="width: 300px; height: 371px;"></div>
    <div id="tarefas-button-bar9" class="button-bar">
      <a ui-sref="ranking()" id="tarefas-button13" class="button button-stable button-block icon ion-podium"></a>
      <div style="margin-right:-20px;">
        <a ui-sref="menu()" id="tarefas-button14" style="left:-10px;" class="button button-stable button-full icon ion-android-apps"></a>
      </div>
      <a ui-sref="quizes()" id="tarefas-button15" class="button button-stable button-block icon ion-ios-game-controller-b"></a>
    </div>
  </ion-content>
</ion-view>